<footer>
	<div class="center">
		<div class="content">
			<img src="/assets/images/logo-white.svg" alt="Doors Logo" width="332" height="51">
			<nav role="footer">
				<ul>
					<li><a href="#" data-section="services">Наши услуги</a></li>
					<li><a href="#" data-section="work">Формат работы</a></li>
					<li><a href="#" data-section="portfolio">Примеры работ</a></li>
				</ul>
				<a href="tel:+7999999999" class="font-onest-medium h3">+7 999 999 999 (Сергей)</a>
			</nav>
		</div>
		
	</div>
</footer>