<footer>
	<div class="center">
		<img src="/assets/images/logo.svg" alt="Doors Logo">
		<nav role="footer">
			<ul>
				<li><a href="#services">Наши услуги</a></li>
				<li><a href="#portfolio">Наши работы</a></li>
				<li><a href="#examples">Примеры работ</a></li>
			</ul>
		</nav>
	</div>
</footer>