<footer>
	<div class="center">
		<img src="" alt="">
		<nav role="footer">
			<ul>
				<li><a href=""></a>Наши услуги</li>
				<li><a href="">Наши работы</a></li>
				<li><a href="">Примеры работ</a></li>
			</ul>
		</nav>
	</div>
</footer>