<header>
	<nav role="navigation">
		<div class="center">
			<div class="container">
				<a href="/" class="font-inter-semibold h5">услуги</a>
				<a href="/" class="logo"><img src="assets/images/logo.svg" alt="Company Logo" width="97" height="24"></a>
				<a href="tel:+7495345123" target="_blank" class="font-inter-semibold h5">+7 495 345 1234</a>
			</div>
		</div>
	</nav>
</header>

