<section class="feedback" id="feedback">
	<div class="center">
		<div class="feedback-form">
			<h2 class="font-onest-medium h3">
				<span class="accent">Если остались вопросы,</span> мы поможем
			</h2>
			<p class="subtitle">Оставьте свои контакты - мы перезвоним в течение часа</p>
			
			<form class="contact-form">
				<div class="form-row">
					<input type="text" name="name" placeholder="Имя" autocomplete="off" maxlength="20" required>
					<input type="tel" name="phone" placeholder="+7 --- --- -- --" autocomplete="off" maxlength="12" required>
					<button type="submit" class="btn-submit">отправить</button>
				</div>
				<div class="form-result"></div>
			</form>
		</div>
	</div>
</section> 