<section class="hero">
	<div class="content">
		<div class="center">
			<h2>Быстро. Качественно. Надежно.</h2>
			<p>Ремонтируем и реставрируем двери.</p>
			<p>Закажите ремонт двери и получите бесплатную установку нового замка.</p>
			<a href="" class="btn">Кнопка</a>
		</div>
	</div>
</section>