<section class="portfolio" id="portfolio">
	<div class="center">
		<h2 class="font-onest-semibold h1">Наши работы</h2>
		<div class="portfolio-slider">
			<div class="slide-pair">
				<div class="before-after">
					<div class="before">
						<img src="/assets/images/door-01.png" alt="До ремонта">
						<span class="label">До</span>
					</div>
					<div class="after">
						<img src="/assets/images/door-02.png" alt="После ремонта">
						<span class="label">После</span>
					</div>
				</div>
			</div>
			
			<div class="slide-pair">
				<div class="before-after">
					<div class="before">
						<img src="/assets/images/door-02.png" alt="До ремонта">
						<span class="label">До</span>
					</div>
					<div class="after">
						<img src="/assets/images/door-01.png" alt="После ремонта">
						<span class="label">После</span>
					</div>
				</div>
			</div>
			
			<div class="slide-pair">
				<div class="before-after">
					<div class="before">
						<img src="/assets/images/door-01.png" alt="До ремонта">
						<span class="label">До</span>
					</div>
					<div class="after">
						<img src="/assets/images/door-02.png" alt="После ремонта">
						<span class="label">После</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>