<section class="services">
	<div class="center">
		<h2 class="font-onest-semibold h1">Наши услуги</h2>
		<div class="grid-block">
			<div class="repair">
				<p class="font-onest-regular h5">Ремонт</p>
				<h3>Подтянем, Смажем, Отрегулируем, <span>Заменим</span>.</h3>
				<div class="img-block">
					<img src="/assets/images/door-01.png" alt="">
				</div>
				<a href="" class="btn font-inter-medium h5">Заказать</a>
			</div>
			<div class="restoration">
				<p class="font-onest-regular h5">Реставрация</p>
				<h3>Очистим, Зашкурим, Покрасим, <span>Залакируем</span>.</h3>
				<div class="img-block">
					<img src="/assets/images/door-02.png" alt="">
				</div>
				<a href="" class="btn font-inter-medium h5">Заказать</a>
			</div>
		</div>
		<div class="banner">
			<div class="text">
				<p class="font-onest-medium h4">Узнайте больше о&nbsp;наших услугах</p>
			</div>
			<a href="" class="btn">Узнать больше</a>
		</div>
	</div>
</section>
<section class="work-format">
	<div class="center">
		<h2 class="font-onest-semibold h1">Формат работы</h2>
		<div class="grid-block">
			<div class="step">
				<span>1</span>
				<h3>Оценим вашу ситуацию</h3>
				<p>Предложим варианты и методы устранения вашей проблемы.</p>
			</div>
			<div class="step">
				<span>2</span>
				<h3>Оказываем вам услугу</h3>
				<p>Качественно и в срок.</p>
			</div>
			<div class="step">
				<span>3</span>
				<h3>Предвосхищаем результат</h3>
				<p>Демонстрируем вам готовый результат.</p>
			</div>
			<div class="step">
				<span>+</span>
				<h3>Остались вопросы?</h3>
				<p>Оставьте заявку и мы свяжемся с вами.</p>
			</div>
		</div>
	</div>
</section>
